@model Sistema.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h3>
	Detalhes do Produto -  @Html.DisplayFor(model => model.Descricao)</h3>

	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayName("Descrição")
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Descricao)
			</dd>

			<dt>
				@Html.DisplayName("Preço")
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Preco)
			</dd>

			<dt>
				@Html.DisplayName("ÚltimaCompra")
			</dt>

			<dd>
				@Html.DisplayFor(model => model.UltimaCompra)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Estoque)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Estoque)
			</dd>

		</dl>
	</div>
	<p>
		@Html.ActionLink("Editar", "Edit", new { id = Model.produtoId }) |
		@Html.ActionLink("Voltar", "Index")
	</p>
